.page.prodDetail{
	&.fixBar{
		margin-bottom: 1.3rem;
	}
	.fixHeader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 1.2rem;
		background: #fff;
		z-index: 10;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
		.con{
			height: 100%;
		}
		.tab{
			font-size: 13px;
			padding: 0 0.4rem;
			&:last-child{margin-right: 0}
			&.active{
				color: $yellow;
				font-weight: 600
			}
		}
		.activeLine{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background: $yellow;
			transition: left 0.2s;
		}
	}
	.pageMain{
		margin-top: 1.2rem;
		margin-bottom: 1rem;
		.module{
			margin-top: 0.3rem;
			background: #fff;
			&.desc,&.intro,&.trafic{
				.tit{
					padding-top: 0.4rem;
					text-align: center;
					img{transform: scale(0.6)}
				}
				.con{
					padding: 0.1rem 0.3rem 0.3rem;
					overflow: hidden;
					line-height: 1.6;
					img{max-width: 100%;}
					p{
						overflow: hidden;
					}
				}
			}
		}
		.comp.banner{
			.flag.ptype{
				font-size: 12px;
				position: absolute;
				left: 0.4rem;
				bottom: 0.4rem;
				background: rgba(0,0,0,0.5);
				padding: 0.05rem 0.3rem;
				color: #fff;
				border-radius: 20px;
			}
		}
		.titleDesc{
			padding: 0.35rem;
			background: #fff;
			.pname{
				font-size: 14px;
			}
			.flag{
				display: inline-block;
				margin-right: 5px;
				padding: 0 5px;
				color: #fff;
				border-radius: 5px;
				font-size: 12px;
				background-image: linear-gradient(to right,#FF6C31,#FF8D5A);
				&.self{
					background-image: linear-gradient(to right,#009CFF,#32B4FF);
				}
			}
			.bt{
				margin-top: 0.2rem;
				.t{
					color: $grey-2;
					margin-right: 0.3rem;
					&:last-child{
						margin-right: 0
					}
				}
				.icon{
					margin-right: 0.1rem;
				}
			}
		}
	}

	.fixBar{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1.2rem;
		z-index: 10;
		background: #fff;
		border-top: 1px solid $bc;
		// box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
		.con{
			height: 100%;
		}
		.t{
			display: block;
			text-align: center;
		}
		.lt .btn{
			padding: 0 0.8rem 0 0;
			&:first-child{
				padding-left: 0.5rem;
			}
		}
		.btn.submitBtn{
			height: 0.9rem;
			line-height: 0.9rem;
			text-align: center;
			background: $yellow;
			border-radius: 20px;
			color: #fff;
			margin-right: 0.4rem;
			&.disabled{
				cursor: not-allowed;
				background: $grey-3;
			}
		}
	}
	
}
