$size-factor: .5rem;

//整个应用的主色调 蓝色
$brand: #32b4ff;
//橙红：多用于价格展示色
$orange: #ff6c31;
//橙黄
$yellow: #ffab00;
 
//灰色
$grey-1: #f0f3f5;  //多用于背景色
$grey-2: #999;     //多用于文字颜色
$grey-3: #c7c7c7;     
$bg-grey: #eff3f5; //多用于背景色

//border颜色
$bc: #e5e5e5;


$input-grey: #f2f4f7;
$text-grey: #6a8bad;
$icon-grey: #707780;
$border-grey: #d7dce5;
$border-black: #7a8ba9;
$white: #ffffff;
$black: #333333;
$red: #fa0101;
$grey: #e8ebf1;
$green: #33c535;


$font-large: 2.1rem;
$font-medium: 1.2rem;
$font-small: 1rem;

$svg-large: 1rem;
$svg-medium: 0.5rem;
$svg-small: 0.3rem;
$svg-color-default: #707780;

//页面左右两侧的留白
$page-margin: 0.4rem;


